.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    display: none;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
}

.open {
    position: fixed;
    display: flex;
    z-index: 999;
}

.modal_wrapperModal {
    position: relative;
    /* width: 50%; */
    height: auto;
    padding: 25px;
    /* background-color: #fff; */
    border-radius: 15px;
}

.modal_button {
    padding: 5px;
    position: absolute;
    top: -22px;
    right: -22px;
    border: 1px solid blue;
    border-radius: 100%;
    color:white;
}

.modal_header {
    margin-bottom: 20px;
}

@media screen and (max-width: 508px) {
    .modal_wrapper {
        width: 70% !important;
    }
    .modal_button{
        padding:2px;
        top: -18px;
        right: -18px;
    }
}