@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&family=Sixtyfour&display=swap');

.roboto2 {
  font-family: 'Roboto Flex' !important;
  font-family: 'Roboto' !important;
}

@keyframes gradientChange {
  0% {
    background-position: 0%
  }

  50% {
    background-position: 100%
  }

  100% {
    background-position: 0%
  }
}

.gradient {
  background: linear-gradient(90deg, blue, #EDAF4C);
  background-size: 200% 200%;
}

.element-to-rotate {
  animation: gradientChange 4s ease infinite;
}


.inner_width {
  width: calc(100%) !important;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.inner_container {
  max-width: 1220px !important;
  padding: 0 15px !important;
  margin: 0 auto !important;
  width: 100%;


}

.animate-spin {
  animation: spin 5s linear infinite !important;
}

@media screen and (max-width:1203px) {
  .test_h {
    min-height: 50px;

  }
}

@media screen and (max-width:1024px) {
  .test_h {
    min-height: 70px;

  }
}

.mobile_content {
  display: none;

}

.advice_icon_box {
  border-radius: 50% !important;
  /* padding: 30px; */
  width: 100px;
  height: 100px;
  background-color: #2D3748;
}





.faq_form input::placeholder, input {
  font-size: 20px;
}

.course_card {
  transition: all 0.5s ;

}
.course_icon {
  transition: all 0.4s ;
  transform: rotate(0deg);

}


@media screen and (max-width:768px) {
  .inner_width {
    width: 100% !important;
  }

  .desctop_content {
    display: none;
  }

  .mobile_content {
    display: block;

  }
  .faq_form input::placeholder, input {
    font-size: 18px;
  }
}

.course_card:hover .course_icon {
  transform: rotate(45deg);
}

@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=REM&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");

* {
  -webkit-tap-highlight-color: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(blue , rgb(255, 81, 0)) ;
  transition: all 0.9s ease;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(rgb(255, 81, 0) ,blue ) ;

}
body {
  background-color: #F4F7FD;
  overflow-x: hidden;
}
.dark body{
  background-color: #070F2B;
  

}

.hello:hover{
  transform: translateY(-10px);
}